body {
  padding: 20px;
  font-family: Helvetica;
  max-width: 800px;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 2em;
  transition: all 0.2s;
}

li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

input {
  margin-right: 5px;
}

#header {
  text-align: left;
}

#header > div {
  margin-bottom: 1.5em;
}

.weather-widget {
  width: 80%;
  background: rgb(0, 140, 255);
  color: white;
  padding: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
  border-radius: 4px;
  border: solid 1px green;
}

.overview {
  align-self: center;
}

.overview >div:nth-child(1) {
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 10px;
}

.forecast >div:nth-child(2) {
  font-size: 4em;
}

